*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  background-color: #FAFAFA;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1rem;
}

.container--fluid {
  padding: 0;
  max-width: 1920px;
}

@font-face {
  font-family: 'Poppins-Light';
  src: url("../fonts/Poppins/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url("../fonts/Poppins/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url("../fonts/Poppins/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url("../fonts/Poppins/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url("../fonts/Poppins/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans-Regular';
  src: url("../fonts/Work_Sans/WorkSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans-Medium';
  src: url("../fonts/Work_Sans/WorkSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans-SemiBold';
  src: url("../fonts/Work_Sans/WorkSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

.work {
  padding: 120px 0;
  text-align: center;
}

.work__title {
  margin-bottom: 25px;
  font-family: "WorkSans-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 150.6%;
  color: #7B7B7B;
}

.work__description {
  display: inline-block;
  max-width: 650px;
  margin-bottom: 25px;
  font-family: "WorkSans-SemiBold";
  font-size: 39.06px;
  font-weight: 600;
  line-height: 123.6%;
  color: #373737;
}

.work__description span {
  color: #FF5300;
  white-space: nowrap;
}

.work__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

.work__menu__item {
  list-style: none;
}

.work__menu__item:not(:last-child) {
  padding-right: 43px;
}

.work__menu__item a {
  text-decoration: none;
  font-family: "WorkSans-Medium";
  font-size: 20px;
  font-weight: 500;
  line-height: 123.6%;
  color: #7B7B7B;
}

.work__menu__item a.active {
  color: #FF5300;
}

.work__menu__item a:hover {
  color: #FF5300;
}

.work__images {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[9];
      grid-template-rows: repeat(9, 1fr);
      grid-template-areas: "A B C" "A B C" "A B C" "A B C" "D B F" "D E F" "D E F" "D E F" "D E F";
}

.work__images__item1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  grid-area: A;
}

.work__images__item2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 2;
  grid-area: B;
}

.work__images__item3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 3;
  grid-area: C;
}

.work__images__item4 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  grid-area: D;
}

.work__images__item5 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 4;
  -ms-grid-column: 2;
  grid-area: E;
}

.work__images__item6 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 5;
  -ms-grid-column: 3;
  grid-area: F;
}

.work__images img {
  -webkit-filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.1));
  cursor: pointer;
}

.work__images__info {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 2;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.work__images__info .title {
  margin: 25px 0 18px;
  font-family: "WorkSans-Medium";
  font-size: 25px;
  font-weight: 500;
  line-height: 123.6%;
  color: #FFFFFF;
}

.work__images__info .description {
  margin-bottom: 47px;
  font-family: "WorkSans-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 150.6%;
  color: #FFFFFF;
}

.work__images .orange-block {
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.work__images .orange-block::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 83, 0, 0.9)), to(rgba(255, 83, 0, 0.9)));
  background: linear-gradient(0deg, rgba(255, 83, 0, 0.9), rgba(255, 83, 0, 0.9));
  z-index: 1;
}

.work__images .orange-block:hover::before {
  opacity: 1;
}

.orange-block:hover .work__images__info {
  opacity: 1;
}

.lesson {
  padding: 120px 0;
  text-align: center;
}

.lesson__title {
  position: relative;
  margin-bottom: 50px;
  font-family: "WorkSans-SemiBold";
  font-size: 39.06px;
  font-weight: 600;
  line-height: 123.6%;
  color: #373737;
}

.lesson__title:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 5px);
          transform: translate(-50%, 5px);
  width: 10%;
  height: 3px;
  background-color: #dc143c;
}

.lesson__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lesson__cards__item {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  max-width: 250px;
  padding: 20px 40px;
}

.lesson__cards .item__person {
  border-radius: 50%;
  margin-bottom: 15px;
}

.lesson__cards .item__work {
  font-family: "WorkSans-Regular";
  font-size: 16px;
  font-weight: 600;
  line-height: 150.6%;
  color: #dc143c;
  margin-bottom: 5px;
}

.lesson__cards .item__name {
  font-family: "WorkSans-Medium";
  font-size: 20px;
  font-weight: 600;
  line-height: 123.6%;
  color: #373737;
  margin-bottom: 15px;
}

.lesson__cards .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lesson__cards .social__item {
  border-radius: 50%;
  border: 1px solid #7a7a7a;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
}

.lesson__cards .social__item:not(:last-child) {
  margin-right: 10px;
}

.lesson__cards .social__item a {
  display: contents;
}

@media (max-width: 767px) {
  .lesson__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lesson__cards__item {
    margin-bottom: 20px;
  }
}

.hero {
  padding: 108px 0 105px;
}

.hero__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.hero__title h1 {
  padding-bottom: 22px;
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 57px;
  line-height: 120%;
  text-align: center;
  color: #212121;
}

.hero__title p {
  padding-bottom: 58px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #757575;
}

.hero__title .btn {
  position: relative;
  background: #FF6A00;
  padding: 14px 28px;
  border-radius: 80px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  border: 0;
  color: #FFFFFF;
}

.hero__title .btn--camera {
  position: relative;
  padding-left: 50px;
}

.hero__title .btn--camera::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 25px;
  width: 15px;
  height: 15px;
  background-image: url("../img/svg/camera.svg");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.images .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.images .items .item:not(:last-child) {
  margin-right: 1rem;
}
