* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    background-color: #FAFAFA;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 10px;
}


/* Header */

.header {
    position: absolute;
    width: 100%;
    padding: 36px 0;
}

.header .wrapper {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: 117px;
    cursor: pointer;
}

.header__menu>ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.header__menu>ul>li {
    margin-right: 21px;
}

.header__menu>ul>li>a {
    position: relative;
    padding: 6px 0;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #737373;
}

.header__menu>ul>li>a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #00A0C1;
    border-radius: 30px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
}

.header__menu>ul>li>a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.header__button {
    margin-left: auto;
    cursor: pointer;
}

.bar::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 6px;
    width: 24px;
}

.bar {
    position: relative;
    width: 19px;
}

.bar::after {
    content: "";
    position: absolute;
    right: 0;
    top: 6px;
    width: 12px;
}

.bar,
.bar::after,
.bar::before {
    height: 3px;
    background: #252B42;
}


/* Hero section */

.hero {
    padding-bottom: 131px;
    margin: 0 auto;
}

.hero__background {
    height: 793px;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero .container {
    display: flex;
    flex-direction: column;
    padding: 80px 0;
    padding-top: 184px;
}

.content {
    max-width: 509px;
    padding-bottom: 80px;
}

.hero__title {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}

.hero__title h1 {
    margin-bottom: 35px;
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    color: #252B42;
}

.hero__title p {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #737373;
    padding-right: 133px;
}

.hero__buttons {
    display: flex;
}

.hero__buttons button {
    background: transparent;
    border: 1px solid #00A0C1;
    border-radius: 37px;
    padding: 10px 36px;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #00A0C1;
    margin-right: 10px;
    cursor: pointer;
}

.hero__buttons button:hover {
    color: #FFFFFF;
    background: #FFA62B;
    border: 1px solid #FFA62B;
}

.hero__cards {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.hero__cards .card {
    max-width: 328px;
    flex: 1;
    background: #FFFFFF;
    padding: 35px 30px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    cursor: pointer;
}

.hero__cards .card svg {
    margin-bottom: 10px;
}

.hero__cards .card h3,
.footer .info__contact .description h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 10px;
    color: #252B42;
}

.hero__cards .card p {
    padding-right: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #737373;
}

.hero__cards .card:hover,
.hero__cards .card:hover h3,
.hero__cards .card:hover p {
    background: #00A0C1;
    color: #FFFFFF;
}

.hero__cards .card:hover svg {
    fill: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


/* Features section */

.features .container,
.advices .container,
.about .container,
.clients .container,
.contact .container {
    display: flex;
    flex-direction: column;
}

.features,
.advices {
    padding: 80px 0;
}

.features__title {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
}

.features__title h2,
.advices__title h2,
.about__title h2,
.info__title h2,
.contact__title h2 {
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    color: #252B42;
    margin-bottom: 10px;
}

.features__title p,
.advices__title p,
.about__title p,
.advices__cards .card p,
.info__title p,
.contact__title p,
.footer .info__contact .description p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #737373;
}

.features__title p,
.about__title p {
    max-width: 511px;
    margin: 0 auto;
}

.features__cards,
.advices__cards {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

.features__cards .card,
.advices__cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 230px;
    padding: 30px 30px;
    background: #FFFFFF;
}

.features__cards .card img {
    margin-bottom: 10px;
}

.features__cards .card h2 {
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    color: #252B42;
    margin-bottom: 10px;
}

.features__cards .card h5,
.advices__cards .card h5 {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #737373;
}


/* Advices section */

.advices__title {
    text-align: center;
    margin: 45px 0;
}

.advices__title p,
.contact__title {
    max-width: 470px;
    margin: 0 auto;
}

.advices__cards .card {
    align-self: stretch;
    padding: 0;
}

.advices__cards .description {
    padding: 30px;
}

.advices__cards .card h5 {
    color: #252B42;
    text-align: start;
    margin-bottom: 15px;
}

.advices__cards .card img {
    margin-top: auto;
}


/* About section */

.about {
    background-color: #FFFFFF;
    padding: 100px 0;
}

.about__title {
    text-align: center;
    padding-bottom: 100px;
}

.about__title h2 {
    max-width: 511px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.main__content {
    display: flex;
    align-items: flex-end;
}

.video {
    position: relative;
}

.video .play__btn {
    position: absolute;
    width: 97.6px;
    height: 98.4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    padding: 34.8px 36.8px;
    background: #00A0C1;
}

.video .play__btn::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-left: 25px solid #FFFFFF;
}

.video .play__btn:active {
    transform: translate(50%, 50%);
}

.video .play__btn:hover {
    background: #16697A;
}

.info {
    padding-left: 121.5px;
}

.info .info__title {
    padding: 20px 0;
    max-width: 330px;
    margin-bottom: 30px;
}

.info .info__card {
    display: flex;
    align-items: flex-start;
}

.info .card1 {
    margin-bottom: 30px;
}

.info__card img {
    padding-right: 20px;
}

.card__info h5,
.contact__cards .card h5 {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #252B42;
}

.card__info h6,
.info__sites h6 {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #737373;
}


/* Clients section */

.clients {
    background: linear-gradient(to bottom, #FAFAFA 78%, #252B42 22%);
}

.clients__list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}

.subscribe {
    padding: 20px 32px;
}

.subscribe__form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    padding: 30px 0px;
    background: #16697A;
    border-radius: 2px;
}

.subscribe__form label {
    max-width: 258px;
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.input__form {
    position: relative;
    max-width: 450px;
    width: 100%;
}

.subscribe__form input[type="email"] {
    width: 100%;
    padding: 15px 0 15px 20px;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
}

.subscribe__form input:focus-visible {
    outline: none;
}

.subscribe__form input::placeholder {
    font-size: 14px;
    line-height: 28px;
    color: #737373;
}

.subscribe__form input[type="button"] {
    position: absolute;
    right: 0;
    background: #FFA62B;
    border: 1px solid #E6E6E6;
    border-radius: 0px 5px 5px 0px;
    padding: 15px 22.5px;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}

.subscribe__form input[type="button"]:hover {
    background: #00A0C1;
}


/* Contact section */

.contact {
    background: #FAFAFA;
    padding: 80px 0 148px 0;
}

.contact__title {
    padding-bottom: 80px;
    margin: 0 auto;
    text-align: center;
}

.contact__cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contact__cards>.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 328px;
    padding: 50px 40px;
    background: #FFFFFF;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.contact__cards>.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #252B42;
    transform: scale(1.2);
    transition: all 0.5s ease;
}

.contact__cards .card .description {
    padding: 15px 0;
    text-align: center;
}

.contact__cards .card .description a {
    position: relative;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #252B42;
}

.contact__cards .card .description a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #FAFAFA;
    border-radius: 30px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
}

.contact__cards .card .description a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.contact__cards .card h5 {
    padding-bottom: 15px;
}

.contact__cards .card button {
    border: 1px solid #FFA62B;
    border-radius: 5px;
    padding: 10px 20px;
    background: #FFFFFF;
    color: #FFA62B;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
}

.contact__cards>.card:hover {
    z-index: 1;
}

.contact__cards>.card:hover::before {
    opacity: 1;
}

.contact__cards .card:hover svg {
    fill: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 1;
}

.contact__cards>.card:hover>div {
    z-index: 1;
}

.contact__cards>.card:hover>.description>a {
    color: #FFFFFF;
}

.contact__cards>.card:hover h5 {
    color: #FFFFFF;
    z-index: 1;
}

.contact__cards .card:hover button {
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    background: #252B42;
    z-index: 1;
}

.contact__cards .card button:hover {
    border: 1px solid #FFA62B;
    background: #FFA62B;
    color: #FFFFFF;
    z-index: 1;
}


/* Footer */

.footer__info {
    padding: 40px 0;
    background: #FFFFFF;
}

.footer .info__contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.info__contact .btn__contact {
    padding: 0 45px;
}

.info__contact .btn__contact button {
    padding: 15px 40px;
    border: 0;
    background: #FFA62B;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    cursor: pointer;
}

.info__contact .btn__contact button:hover {
    background: #00A0C1;
}

.footer__links {
    background: #16697A;
    padding: 50px 0;
}

.footer__links .info__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__links .info__content ul {
    padding-right: 30px;
}

.footer__links .info__content ul li,
.footer__links .info__content h5 {
    display: flex;
    list-style: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 10px;
}

.footer__links .info__content h5 {
    padding-bottom: 20px;
}

.footer__links .info__content ul li a {
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}

.footer__links .info__content ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #FAFAFA;
    border-radius: 30px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
}

.footer__links .info__content ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.footer__links .info__content ul li img {
    padding-right: 10px;
}

.footer__sites {
    background: #FFFFFF;
    padding: 25px 0;
}

.info__sites {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social__media {
    padding: 0 40px;
}

.social__media ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.social__media ul li:not(:first-child) {
    padding-left: 20px;
}

.top-btn {
    position: fixed;
    right: 40px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50px;
    background-color: #16697A;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.12), 3px 4px 8px 0px rgba(0, 0, 0, 0.11);
    transition: all .8s;
}

.top-btn img {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    transition: all .8s;
}

.top-btn:hover {
    background-color: #0f4853;
    animation-duration: 3s;
    animation-name: top-btn;
}

.top-btn:hover img {
    margin-top: 5px;
}

@keyframes top-btn {
    0% {
        bottom: 20px;
    }
    50% {
        bottom: 40px;
    }
}


/* Media queries */

@media screen and (max-width: 416px) {
    .container {
        max-width: 416px;
    }
    /* Hero section */
    .hero {
        padding-bottom: 0;
    }
    .hero__background {
        height: 100%;
        background-position-x: center;
        padding-bottom: 125px;
    }
    .hero .container {
        align-items: center;
    }
    .content {
        max-width: 350px;
        text-align: center;
    }
    .hero__title {
        align-items: center;
    }
    .hero__title,
    .hero__title h1 {
        margin-bottom: 40px;
    }
    .hero__title h1 {
        font-weight: bold;
        font-size: 40px;
        line-height: 57px;
    }
    .hero__title p {
        max-width: 270px;
        padding-right: 0;
    }
    .hero__buttons {
        flex-direction: column;
        align-items: center;
    }
    .hero__buttons button {
        margin-right: 0;
    }
    .hero__buttons button:first-child {
        margin-bottom: 25px;
    }
    .hero__cards {
        flex-direction: column;
    }
    .hero__cards .card {
        padding: 35px 40px;
        max-width: 328px;
        margin-bottom: 30px;
    }
    /* Features section */
    .features {
        padding: 53px 0 70px 0;
    }
    .features .container,
    .advices .container,
    .about .container,
    .contact .container {
        max-width: 330px;
        align-items: center;
    }
    .features__title,
    .advices__title {
        margin: 0 auto;
        max-width: 250px;
        margin-bottom: 30px;
        padding: 45px 0;
    }
    .features__cards,
    .advices__cards {
        flex-direction: column;
    }
    .features__cards .card,
    .advices__cards .card {
        max-width: 230px;
        padding: 30px 40px;
        margin-bottom: 30px;
    }
    .features__title p {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
    }
    /* Advices section */
    .advices {
        padding: 53px 0 106px 0;
    }
    .advices__cards .card {
        padding: 0;
    }
    /* About section */
    .about__title p {
        max-width: 220px;
    }
    .main__content {
        flex-direction: column;
    }
    .video {
        margin-bottom: 52px;
    }
    .about .video iframe {
        width: 333px;
        height: 442px;
    }
    .info {
        padding-left: 0;
    }
    /* Clients section */
    .clients {
        background: #FAFAFA;
    }
    .clients .container {
        padding: 0;
    }
    .clients__list {
        flex-direction: column;
        margin-top: 31px;
        margin-bottom: 35px;
    }
    .clients__list li:not(:last-child) {
        padding-bottom: 60px;
    }
    .clients .subscribe {
        padding: 0;
    }
    .subscribe__form {
        flex-direction: column;
    }
    .subscribe__form label {
        text-align: center;
        padding-bottom: 30px;
    }
    .input__form {
        max-width: 337px;
    }
    /* Contact section */
    .contact {
        padding: 30px 0 85px 0;
    }
    .contact .container {
        padding: 45px 0;
    }
    .contact__title {
        max-width: 264px;
        padding-bottom: 60px;
    }
    .contact__title p {
        font-weight: bold;
    }
    .contact__cards {
        flex-direction: column;
    }
    .contact__cards .card:not(:last-child) {
        margin-bottom: 30px;
    }
    .contact__cards>.card::before {
        transform: none;
    }
    /* Footer */
    .footer .container {
        max-width: 239px;
        padding: 0;
    }
    .footer .info__contact {
        flex-direction: column;
        align-items: flex-start;
    }
    .info__contact .description {
        padding-bottom: 50px;
    }
    .info__contact .btn__contact {
        padding: 0;
    }
    .footer__links .info__links {
        flex-direction: column;
    }
    .footer__links .info__content:not(:last-child) {
        padding-bottom: 30px;
    }
    .footer__sites {
        margin-bottom: 30px;
    }
    .info__sites {
        flex-direction: column;
    }
    .info__sites h6 {
        padding-bottom: 50px;
    }
    .social__media {
        padding: 0;
    }
}
